.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  width: 150px;
  height: 30px;
  padding: 10px;

}
.button hover {
  cursor: crosshair;
}


.flex {
  width: 60%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 50px !important;
  margin: 0 auto;
}

input {
 height: 20px;   width: 200px;
}

.signature {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
