.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  /*z-index: 5;*/
  width: 20%;
  height: 15%;
  padding: 10px;

}
.button hover {
  cursor: crosshair;
}


.flex {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  height: 50px !important;
}

.signature {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
